<h2>Our Story</h2>
<p>We're two siblings who wanted to honor a very important person: Uncle Mario. What made Mario so important to us? Well, when we were kids, he was the adult who always talked to us like we were real people, and he was always up for adventure.</p>
<p>Most of all, Uncle Mario is our coffee hero. Unlike our instant-coffee-loving parents, Uncle Mario knew the value of a good brew. He lived a too-short life, but to keep his memory living on, we're committed to purveying the finest coffees from around the world (and as far as our parents go, we still love them dearly).</p>
<h2>Current Offerings</h2>
<div class="row">
  <div class="col-md-4">
    <h3>What's New?</h3>
    <p>We like to keep our coffee menu fresh.</p>
    <form method="get" action="/products" class="button_to">
      <input value="New" type="submit" name="sorter"/>
    </form>
  </div>
  <div class="col-md-4">
    <h3>What's the Word?</h3>
    <p>See what your fellow coffee aficionados are saying about our beans. And join the conversation!</p>
    <form method="get" action="/products" class="button_to">
      <input value="MostRev" type="submit" name="sorter"/>
    </form>
  </div>
  <div class="col-md-4">
    <h3>Why Rwanda?</h3>
    <p>Mario traveled widely, and his favorite place in the world was the mountains of Rwanda. We can't sell coffee that grown near our homes, but whenever we can, we like to feature Rwandan beans. That country is close to our hearts, just like it was for Uncle Mario. </p>
    <form method="get" action="/products" class="button_to">
      <input value="Rwandan" type="submit" name="sorter"/>
    </form>
  </div>
</div>



<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<li><%= link_to "Add New Product", new_product_path %></li>
